{% extends "@theme/base.html.twig" %}

{% block title %}{{ 'title.contact'|trans }}{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block body_id 'assets' %}

{% block main %}

    <section class="section section-page-title context-dark">
        <div class="container">
            <h2>{{ 'title.assets'|trans }}</h2>
        </div>
    </section>

    <section class="section section-md bg-default">
        <div class="container">

            <div class="row">
                <div class="col-3">
                    <h5 class="text-primary">{{ '' }}</h5>
                    <p>
                        <a href="/admin/?entity=Assets">{{ 'assets.add_assets'|trans }}</a>
                        <br>
                        Category List:
                        <br>
                        {% for c in assets %}
                            <a href="assets/category/{{ c.figurecompatible|json_encode()|raw }}">{{ c.figurecompatible|json_encode|raw }}</a>
                    </p>
                </div>
                <div class="col-9">
                    <h5 class="text-primary">{{ 'assets.products'|trans }}</h5>
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                        <div class="card h-100">
                            <h4 class="card-title">
                                <a href="assets/show/{{ c.name }}">{{ c.name }} {{ c.figurecompatible|json_encode(constant('JSON_PRETTY_PRINT') b-or constant('JSON_UNESCAPED_SLASHES')) }}</a>
                            </h4>
                            <a href="#"><img class="card-img-top" src="" alt=""></a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </section>

{% endblock %}