{% extends "@theme/base.html.twig" %}

{% block title %}{{ 'streaming.title'|trans({}, 'streaming') }}{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block body_id 'streaming' %}

{% block main %}

    <section class="section section-page-title context-dark">
        <div class="container">
            <h2>{{ 'streaming.title'|trans({}, 'streaming') }}</h2>
        </div>
    </section>

    <section class="section section-lg bg-gray-100">
        <div class="container">

            <div class="container px-4 py-5" id="hanging-icons">
                <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                    <div class="col d-flex align-items-start">
                        <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                            <i class="fa-brands fa-twitch stream_twitch"></i>
                        </div>
                        <div>
                            <h3 class="fs-2">Twitch</h3>
                            <p>{{ 'streaming.twitch_desc'|trans({}, 'streaming') }}</p>
                        </div>
                    </div>
                    <div class="col d-flex align-items-start">
                        <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                            <i class="fa-brands fa-discord stream_discord"></i>
                        </div>
                        <div>
                            <h3 class="fs-2">Discord</h3>
                            <p>{{ 'streaming.discord_desc'|trans({}, 'streaming') }}</p>
                        </div>
                    </div>
                    <div class="col d-flex align-items-start">
                        <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                            <i class="fa-brands fa-x stream_twitter"></i>
                        </div>
                        <div>
                            <h3 class="fs-2">X</h3>
                            <p>{{ 'streaming.x_desc'|trans({}, 'streaming') }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <h5 class="mb-4">{{ 'streaming.faq.title'|trans({}, 'streaming') }}</h5>
            
            <section class="section section-sm bg-gray-100 mb-4 rounded shadow-xs border">
                <div class="container">
                    <h5 class="fw-bold">{{ 'streaming.faq.q1'|trans({}, 'streaming') }}</h5>
                    <p>{{ 'streaming.faq.a1'|trans({}, 'streaming') }}</p>
                </div>
            </section>

            <section class="section section-sm bg-default mb-4 rounded shadow-xs border">
                <div class="container">
                    <h5 class="fw-bold">{{ 'streaming.faq.q2'|trans({}, 'streaming') }}</h5>
                    <p>{{ 'streaming.faq.a2'|trans({}, 'streaming') }}</p>
                </div>
            </section>

            <section class="section section-sm bg-gray-100 mb-4 rounded shadow-xs border">
                <div class="container">
                    <h5 class="fw-bold">{{ 'streaming.faq.q3'|trans({}, 'streaming') }}</h5>
                    <p>{{ 'streaming.faq.a3'|trans({}, 'streaming') }}</p>
                </div>
            </section>

            <section class="section section-sm bg-default mb-4 rounded shadow-xs border">
                <div class="container">
                    <h5 class="fw-bold">{{ 'streaming.faq.q4'|trans({}, 'streaming') }}</h5>
                    <p>{{ 'streaming.faq.a4'|trans({}, 'streaming') }}</p>
                </div>
            </section>

        </div>
    </section>

{% endblock %}