<section class="section section-md bg-default text-center">
    <div class="container">
        <div class="row justify-content-md-center">
            <form action="{{ path('security_login') }}" method="post" class="rd-form rd-mailform rd-form-centered text-center">
                <fieldset>
                    <legend><i class="fa fa-lock" aria-hidden="true"></i> {{ 'title.login'|trans }}</legend>
                    <div class="form-warp">
                        <label for="username" class="form-label form-label-outside">{{ 'label.username'|trans }}</label>
                        <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-input form-input-circle form-input-gray"/>
                    </div>
                    <div class="form-warp">
                        <label for="password" class="form-label form-label-outside">{{ 'label.password'|trans }}</label>
                        <input type="password" id="password" name="_password" class="form-input form-input-circle form-input-gray"/>
                    </div>
                    <input type="hidden" name="_target_path" value="{{ app.request.get('redirect_to') }}"/>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                    <button type="submit" class="button button-block button-gradient button-circle">
                        <i class="fa fa-sign-in" aria-hidden="true"></i> {{ 'action.sign_in'|trans }}
                    </button>
                </fieldset>
            </form>
        </div>
    </div>
</section>