<!DOCTYPE html>
<html lang="{{ app.request.locale }}" dir="ltr">
    <head>
        {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>{% block title %}{% endblock %} - {% for s in settings %} {{ s.siteName }}</title>
        <link rel="shortcut icon" href="{{s.siteCDN}}/themes/default/images/icons/favicon.ico" />
        {% block stylesheets %}

        <!-- Stylesheets -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link href="{{s.siteCDN}}/themes/default/css/main.css" rel="stylesheet" />
        {% endblock %}
        {% endfor %}
        {% endblock %}
    </head>
    <body class="is-preload">
        <div id="page-wrapper">
            <header id="header">
                <div class="logo container">
                {% for s in settings %}
                    <div><img src="{{s.siteCDN}}/themes/default/images/{{s.logoName}}.png" class="logos" alt=""/></div>
                {% endfor %}
                </div>
            </header>
            {% include("@theme/navbar.html.twig") %}
            {% block body %}{% endblock %}
            {% include('@theme/footer.html.twig') %}
    </body>
</html>