{% extends "@theme/base.html.twig" %}

{% block title %}{{ 'title.games'|trans }}{% endblock %}

{% block head %}
    {{  parent() }}
{% endblock %}

{% block body %}
    <div id="main-wrapper">
        <div id="main" class="container">
            <div class="row">
                <div class="12u">
                    <span class="content">

                        <article class="box page-content">
                            <header>
                                <h2>{{ 'title.games'|trans }}</h2>
                                <p>{{ 'content.gamesPage'|trans }}</p>
                            </header>
                            <section>
                                <div class="game_covers">
                                    <ul class="grid">
                                    {% for g in games %}
                                        {% for s in settings %}
                                        <li>
                                            <a name="{{ g.our_game_short_title }}"></a>
                                            <a href="{{ g.our_game_url }}"><img class="game_covers_image" src="{{ s.site_cdn }}/images/covers/{{ g.our_game_cover }}.png" alt="{{ g.our_game_name }}" /></a>
                                        </li>
                                        {% endfor %}
                                    {% endfor %}
                                    </ul>
                                </div>
                            </section>
                        </article>

                    </span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

