            <nav id="nav">
                <ul>
                    <li><a href="{{ path('home') }}">{{ 'navbar.home'|trans }}</a></li>
                    <li><a href="{{ path('bepatron') }}">{{ 'navbar.patron'|trans }}</a></li>
                    <li><a href="{{ path('blog') }}">{{ 'navbar.blog'|trans }}</a></li>
                    <li><a href="{{ path('forum') }}">{{ 'navbar.forum'|trans }}</a></li>
                    <li><a href="{{ path('games') }}">{{ 'navbar.games'|trans }}</a></li>
                    <li><a href="{{ path('about') }}">{{ 'navbar.about'|trans }}</a></li>
                    <li><a href="{{ path('careers') }}">{{ 'navbar.careers'|trans }}</a></li>
                    <li><a href="{{ path('contact') }}">{{ 'navbar.contact'|trans }}</a></li>
                </ul>
            </nav>