{% extends 'emails/layout.html.twig' %}

{% block title %}{{ 'notification.comment_created.email_subject'|trans({}, 'notifications') }}{% endblock %}

{% block content %}
    <h1>{{ 'notification.comment_created.email_hello'|trans({'%username%': author.username}, 'notifications') }}</h1>

    <p>{{ 'notification.comment_created.email_content'|trans({'%post_title%': postTitle, '%comment_author%': commentAuthor.username}, 'notifications') }}</p>

    <p>{{ 'notification.comment_created.email_read_link'|trans({}, 'notifications') }} <a href="{{ linkToPost }}">{{ linkToPost }}</a></p>
{% endblock %}
