{% extends 'emails/layout.html.twig' %}

{% block title %}{{ 'notification.new_follower.email_subject'|trans({}, 'notifications') }}{% endblock %}

{% block content %}
    <h1>{{ 'notification.new_follower.email_hello'|trans({'%username%': followedUser.username}, 'notifications') }}</h1>

    <p>{{ 'notification.new_follower.email_content'|trans({'%follower_username%': followerUsername}, 'notifications') }}</p>

    <p>{{ 'notification.new_follower.email_profile_link'|trans({}, 'notifications') }} <a href="{{ followedUserLink }}">{{ followedUserLink }}</a></p>
{% endblock %}
