<!DOCTYPE html>
<html class="boxed" lang="{{ app.request.locale }}" dir="ltr">
    <head>
        {% block head %}
        <title>{% block title %}{% endblock %} - {% for s in settings %} {{ s.site_name }}</title>
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8">
        <link rel="icon" href="{{s.site_cdn}}/themes/grey/images/favicon.ico" type="image/x-icon">
        <!-- Stylesheets-->
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700%7CMontserrat:400,700,800">
        <link rel="stylesheet" href="//cdn.materialdesignicons.com/2.3.54/css/materialdesignicons.min.css">
        <link rel="stylesheet" href="{{s.site_cdn}}/themes/grey/css/bootstrap.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
        <link rel="stylesheet" href="{{s.site_cdn}}/themes/grey/css/style.css" id="main-styles-link">

        <!--[if lt IE 10]>
        <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;">
            <a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="{{s.site_cdn}}images/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="{{ 'old_browser.text'|trans }}"></a>
        </div>
        <script src="{{s.site_cdn}}/themes/grey/js/html5shiv.min.js"></script>
        <![endif]-->
        {% endfor %}
        {% endblock %}
        <meta property="og:url"           content="https://www.oktodark.com" />
        <meta property="og:type"          content="oktodark" />
        <meta property="og:title"         content="OktoDark" />
        <meta property="og:description"   content="OktoDark Studios" />
        <meta property="og:image"         content="https://www.your-domain.com/path/image.jpg" />
        <script src='https://www.google.com/recaptcha/api.js'></script>
    </head>
    <body>
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    {% include("@theme/loading.html.twig") %}
    <div class="page">
        {% include("@theme/navbar.html.twig") %}
        {% block body %}{% endblock %}
{% include("@theme/footer.html.twig") %}