<!DOCTYPE html>
<html class="boxed" lang="{{ app.request.locale }}" dir="ltr">
    <head>
        {% block head %}
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %} - {% for s in settings %} {{ s.siteName }}</title>
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="icon" href="{{s.siteCDN}}/themes/grey/images/favicon.ico" type="image/x-icon">
        <!-- Fonts -->
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700%7CMontserrat:400,700,800">
        <!-- Stylesheets -->
        <link rel="stylesheet" href="{{ asset('themes/grey/css/style.css') }}" id="main-styles-link">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.css">
        <!--<link rel="stylesheet" href="{{s.siteCDN}}/themes/grey/css/style.css" id="main-styles-link">-->
        {% endfor %}
        {% endblock %}
        <!-- Javascript -->
        <script src='https://www.google.com/recaptcha/api.js'></script>
    </head>
    <body id="{% block body_id %}{% endblock %}">
    {% include("@theme/loading.html.twig") %}
    <div class="page">
        {% include("@theme/navbar.html.twig") %}
        {% block body %}
            {% block main %}{% endblock %}
        {% endblock %}

        {% include("@theme/footer.html.twig") %}

    </div>
    <div class="snackbars" id="form-output-global"></div>

    {% block javascripts %}
    <!-- Javascript -->
    {% for s in settings %}
        <script src="{{s.siteCDN}}/themes/grey/js/core.min.js"></script>
        <script src="{{s.siteCDN}}/themes/grey/js/script.js"></script>
    {% endfor %}
    <!-- End Javascript -->
    {% endblock %}

    </body>
</html>
