{% extends "@theme/base.html.twig" %}

{% block title %}{{ 'title.be_patron'|trans }}{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block body_id 'bepatron' %}

{% block main %}

    <section class="section section-page-title context-dark">
        <div class="container">
            <h2>{{ 'title.be_patron'|trans }}</h2>
        </div>
    </section>

    <section class="section section-md bg-default text-center">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <div class="icon">
                            <i class="fab fa-patreon"></i>
                        </div>
                        <p class="card-text">Support us and receive your rewards</p>
                        <a href="https://www.patreon.com/OktoDark" class="btn btn-primary">{{ 'bepatron.now'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section section-md bg-default text-center">
        <div class="container">
            <div class="table-custom-responsive">
                <h3>{{ 'bepatron.list_rewards'|trans }}</h3>
                <table class="table-custom table-custom-striped table-custom-primary">
                    <thead>
                    <tr>
                        <th><i class="fas fa-gift"></i> {{ 'bepatron.rewards'|trans }}</th>
                        <th>Tier 1</th>
                        <th>Tier 2</th>
                        <th>Tier 3</th>
                        <th>Tier 4</th>
                        <th>Tier 5</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ 'bepatron.access_private_forum'|trans }}</td>
                        <td><i class="fas fa-check"></i></td>
                        <td><i class="fas fa-check"></i></td>
                        <td><i class="fas fa-check"></i></td>
                        <td><i class="fas fa-check"></i></td>
                        <td><i class="fas fa-check"></i></td>
                    </tr>
                    <tr>
                        <td>{{ 'bepatron.access_private_blog'|trans }}</td>
                        <td><i class="fas fa-check"></i></td>
                        <td><i class="fas fa-check"></i></td>
                        <td><i class="fas fa-check"></i></td>
                        <td><i class="fas fa-check"></i></td>
                        <td><i class="fas fa-check"></i></td>
                    </tr>
                    <tr>
                        <td>{{ 'bepatron.news_progress'|trans }}</td>
                        <td><i class="fas fa-check"></i></td>
                        <td><i class="fas fa-check"></i></td>
                        <td><i class="fas fa-check"></i></td>
                        <td><i class="fas fa-check"></i></td>
                        <td><i class="fas fa-check"></i></td>
                    </tr>
                    <tr>
                        <td>{{ 'bepatron.images_from_projects'|trans }}</td>
                        <td><i class="fas fa-check"></i></td>
                        <td><i class="fas fa-check"></i></td>
                        <td><i class="fas fa-check"></i></td>
                        <td><i class="fas fa-check"></i></td>
                        <td><i class="fas fa-check"></i></td>
                    </tr>
                    <tr>
                        <td>{{ 'bepatron.discord_role'|trans }}</td>
                        <td><i class="fas fa-check"></i></td>
                        <td><i class="fas fa-check"></i></td>
                        <td><i class="fas fa-check"></i></td>
                        <td><i class="fas fa-check"></i></td>
                        <td><i class="fas fa-check"></i></td>
                    </tr>
                    <tr>
                        <td>{{ 'bepatron.download_beta'|trans }}</td>
                        <td><i class="fas fa-check"></i></td>
                        <td><i class="fas fa-check"></i></td>
                        <td><i class="fas fa-check"></i></td>
                        <td><i class="fas fa-check"></i></td>
                        <td><i class="fas fa-check"></i></td>
                    </tr>
                    <tr>
                        <td>{{ 'bepatron.tier_title_forum'|trans }}</td>
                        <td><i class="fas fa-check"></i></td>
                        <td><i class="fas fa-check"></i></td>
                        <td><i class="fas fa-check"></i></td>
                        <td><i class="fas fa-check"></i></td>
                        <td><i class="fas fa-check"></i></td>
                    </tr>
                    <tr>
                        <td>{{ 'bepatron.access_private_live_stream'|trans }}</td>
                        <td><i class="fas fa-times"></i></td>
                        <td><i class="fas fa-check"></i></td>
                        <td><i class="fas fa-check"></i></td>
                        <td><i class="fas fa-check"></i></td>
                        <td><i class="fas fa-check"></i></td>
                    </tr>
                    <tr>
                        <td>{{ 'bepatron.access_voting'|trans }}</td>
                        <td><i class="fas fa-times"></i></td>
                        <td><i class="fas fa-check"></i></td>
                        <td><i class="fas fa-check"></i></td>
                        <td><i class="fas fa-check"></i></td>
                        <td><i class="fas fa-check"></i></td>
                    </tr>
                    <tr>
                        <td>{{ 'bepatron.download_alpha'|trans }}</td>
                        <td><i class="fas fa-times"></i></td>
                        <td><i class="fas fa-check"></i></td>
                        <td><i class="fas fa-check"></i></td>
                        <td><i class="fas fa-check"></i></td>
                        <td><i class="fas fa-check"></i></td>
                    </tr>
                    <tr>
                        <td>{{ 'bepatron.name_at_credits'|trans }}</td>
                        <td><i class="fas fa-times"></i></td>
                        <td><i class="fas fa-times"></i></td>
                        <td><i class="fas fa-check"></i></td>
                        <td><i class="fas fa-check"></i></td>
                        <td><i class="fas fa-check"></i></td>
                    </tr>
                    <tr>
                        <td>{{ 'bepatron.request_bonus'|trans }}</td>
                        <td><i class="fas fa-times"></i></td>
                        <td><i class="fas fa-times"></i></td>
                        <td><i class="fas fa-times"></i></td>
                        <td><i class="fas fa-check"></i></td>
                        <td><i class="fas fa-check"></i></td>
                    </tr>
                    <tr>
                        <td>{{ 'bepatron.suggest_ideas'|trans }}</td>
                        <td><i class="fas fa-times"></i></td>
                        <td><i class="fas fa-times"></i></td>
                        <td><i class="fas fa-times"></i></td>
                        <td><i class="fas fa-times"></i></td>
                        <td><i class="fas fa-check"></i></td>
                    </tr>
                    <tr>
                        <td>{{ 'bepatron.worth'|trans }}</td>
                        <td><i class="fas fa-euro-sign"></i> 1</td>
                        <td><i class="fas fa-euro-sign"></i> 10</td>
                        <td><i class="fas fa-euro-sign"></i> 25</td>
                        <td><i class="fas fa-euro-sign"></i> 50</td>
                        <td><i class="fas fa-euro-sign"></i> 75</td>
                    </tr>
                    <tr>
                        <td>{{ 'bepatron.ring_the_bell'|trans }}</td>
                        <td><a href="https://www.patreon.com/join/OktoDark/checkout?rid=1193980"><i class="fas fa-concierge-bell"></i></a></td>
                        <td><a href="https://www.patreon.com/join/OktoDark/checkout?rid=1193981"><i class="fas fa-concierge-bell"></i></a></td>
                        <td><a href="https://www.patreon.com/join/OktoDark/checkout?rid=1193982"><i class="fas fa-concierge-bell"></i></a></td>
                        <td><a href="https://www.patreon.com/join/OktoDark/checkout?rid=1193985"><i class="fas fa-concierge-bell"></i></a></td>
                        <td><a href="https://www.patreon.com/join/OktoDark/checkout?rid=1194000"><i class="fas fa-concierge-bell"></i></a> </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br>
        <div class="text-left-note">
            <a href="{{ path('faq') }}">{{ 'bepatron.note'|trans }}</a>
        </div>
    </section>

{% endblock %}