        {% block footer %}
            <!-- Page Footer -->
            <footer class="section footer-normal">
                <div class="container">
                    <div class="row row-50 flex-lg-row-reverse">
                        <div class="col-sm-4 col-lg-3">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" id="locales">
                                <i class="fas fa-globe" aria-hidden="true"></i>
                                {{ 'language.selector'|trans }}
                            </a>
                            <ul class="dropdown-menu locales" role="menu" aria-labelledby="locales">
                                {% for locale in locales() %}
                                    <li {% if app.request.locale == locale.code %}aria-checked="true" class="active" {% else %}aria-checked="false"{% endif %} role="menuitem"><a href="{{ path(app.request.get('_route', 'home'), app.request.get('_route_params', [])|merge({_locale: locale.code})) }}">{{ locale.name|capitalize }} <small>{{ locale.code[0:2] }}</small></a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-sm-4 col-lg-3">
                            <a href="{{ path('faq') }}">{{ 'title.faq'|trans }}</a><br>
                            <a href="{{ path('services') }}">{{ 'title.services'|trans }}</a><br>
                            <a href="{{ path('contact') }}">{{ 'title.contact'|trans }}</a><br>
                            <a href="{{ path('privacy-policy') }}">{{ 'privacy_policy.text'|trans }}</a>
                        </div>
                        <div class="col-lg-4">
                            <p class="rights">
                                <span>
                                    <a href="https://www.twitter.com/OktoDark"><i class="fab fa-twitter-square fa-2x"></i></a>
                                    <a href="https://www.youtube.com/@OktoDark"><i class="fab fa-youtube-square fa-2x"></i></a>
                                    <a href="https://discord.gg/UmfZPvF"><i class="fab fa-discord fa-2x"></i></a>
                                    <a href="https://www.twitch.com/OktoDark"><i class="fab fa-twitch fa-2x"></i></a>
                                    <a href="https://www.patreon.com/OktoDark"><i class="fab fa-patreon fa-2x"></i></a>
                                    <a href="https://www.bitbucket.com/OktoDark"><i class="fab fa-bitbucket fa-2x"></i></a>
                                    <a href="https://gitlab.com/oktodark-studios"><i class="fab fa-gitlab fa-2x"></i></a>
                                    <a href="https://www.github.com/OktoDark"><i class="fab fa-github fa-2x"></i></a>
                                </span>
                                <br>
                                <span>&copy;</span>
                                <span class="copyright-year"></span>
                                <span>{% for s in settings %}{{s.siteName}}. {{ 'footer.all_rights_reserved_text'|trans }}{% endfor %}</span>
                            </p>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- End Footer -->
        {% endblock %}