{% extends "@theme/base.html.twig" %}

{% block title %}{{ 'title.home'|trans }}{% endblock %}

{% block head %}
    {{  parent() }}
{% endblock %}

{% block body_id 'home' %}

{% block main %}

        <section class="section swiper-container swiper-slider swiper-slider-1" data-loop="true" data-autoplay="false" data-simulate-touch="false">
            <div class="swiper-wrapper text-center">
                <div class="swiper-slide context-dark" data-slide-bg="">
                    <div class="swiper-slide-caption section-md">
                        <div class="container">
                            <div class="row justify-content-lg-center">
                                <div class="col-lg-12">
                                    <h5 data-caption-animate="fadeInUp" data-caption-delay="100">{{ 'slider_one.text'|trans }}</h5>
                                    <h2 data-caption-animate="fadeInUp" data-caption-delay="250">{{ 'slider_one_row.text'|trans }}</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide context-dark" data-slide-bg="">
                    <div class="swiper-slide-caption section-md">
                        <div class="container">
                            <div class="row justify-content-lg-center">
                                <div class="col-lg-12">
                                    <h5 data-caption-animate="fadeInUp" data-caption-delay="100">{{ 'slider_two.text'|trans }}</h5>
                                    <h2 data-caption-animate="fadeInUp" data-caption-delay="250">{{ 'slider_two_row.text'|trans }}</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide context-dark" data-slide-bg="">
                    <div class="swiper-slide-caption section-md">
                        <div class="container">
                            <div class="row justify-content-lg-center">
                                <div class="col-lg-12">
                                    <h5 data-caption-animate="fadeInUp" data-caption-delay="100">{{ 'slider_three.text'|trans }}</h5>
                                    <h2 data-caption-animate="fadeInUp" data-caption-delay="250">{{ 'slider_three_row.text'|trans }}</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </section>

        <section class="section section-lg bg-gray-100">
            <div class="container">
                <div class="row row-50 row-bordered">
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="icon-box">
                            <div class="icon-container"><span class="icon fas fa-check"></span></div>
                            <h4 class="icon-box-title">{{ 'info_home_one.text'|trans }}</h4>
                            <br>
                            <div class="icon-box-text">
                                <p>{{ 'info_home_one_content.text'|trans }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="icon-box">
                            <div class="icon-container"><span class="icon fas fa-filter"></span></div>
                            <h4 class="icon-box-title">{{ 'info_home_two.text'|trans }}</h4>
                            <br>
                            <div class="icon-box-text">
                                <p>{{ 'info_home_two_content.text'|trans }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="icon-box">
                            <div class="icon-container"><span class="icon fas fa-vial"></span></div>
                            <h4 class="icon-box-title">{{ 'info_home_three.text'|trans }}</h4>
                            <br>
                            <div class="icon-box-text">
                                <p>{{ 'info_home_three_content.text'|trans }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="icon-box">
                            <div class="icon-container"><span class="icon fas fa-download"></span></div>
                            <h4 class="icon-box-title">{{ 'info_home_four.text'|trans }}</h4>
                            <br>
                            <div class="icon-box-text">
                                <p>{{ 'info_home_four_content.text'|trans }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section bg-default">
            <div class="row flex-lg-row-reverse align-items-lg-center no-gutters">
                <div class="col-lg-6">
                    <div class="box-img-right"><img src="{% for s in settings %}{{ s.siteCDN }}{% endfor %}/themes/grey/images/home-1.jpg" alt=""></div>
                </div>
            </div>
        </section>

        <!-- News Section-->
        <section class="section section-lg bg-default">
            <div class="container">
                <h3>{{ 'title.news'|trans }}</h3>
                {% for n in news %}
                <div class="row">
                    <div class="col-12">
                        <div class="text-decoration">
                            <h4>{{ n.title }}</h4>
                            <p>{{ n.content|md2html }}</p>
                            <p class="right_side" ><i class="icon-news-time far fa-clock"></i> {{ n.createdAt|localizeddate('long', 'medium', null, 'UTC') }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
        <!-- End News Section -->

        <section class="section section-xl bg-gray-100 text-center">
            <div class="container">
                <h3>{{ 'title.our_clients'|trans }}</h3>
                <div class="row row-50">
                    <div class="col-12" style="align-content: center">
                        <!-- Owl Carousel-->
                        <div class="owl-carousel carousel-dots-minimal carousel-bordered-item" data-items="1" data-sm-items="2" data-md-items="3" data-xl-items="6" data-dots="true" data-nav="false" data-stage-padding="15" data-loop="false" data-margin="0" data-mouse-drag="false">
                            <div class="partner-item"><a href="https://www.l2heaven.net"><img src="../images/clients/l2heaven.png" alt="L2Heaven" width="120" height="80" /></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}