{% extends "@theme/base.html.twig" %}

{% block title %}{{ 'title.home'|trans }}{% endblock %}

{% block head %}
    {{  parent() }}
{% endblock %}

{% block body_id 'home' %}

{% block body %}

        <section class="section swiper-container swiper-slider swiper-slider-1" data-loop="true" data-autoplay="false" data-simulate-touch="false">
            <div class="swiper-wrapper text-center">
                <div class="swiper-slide context-dark" data-slide-bg="">
                    <div class="swiper-slide-caption section-md">
                        <div class="container">
                            <div class="row justify-content-lg-center">
                                <div class="col-lg-12">
                                    <h5 data-caption-animate="fadeInUp" data-caption-delay="100">Welcome to OktoDark Studios!</h5>
                                    <h2 data-caption-animate="fadeInUp" data-caption-delay="250">We create games, mods and apps</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide context-dark" data-slide-bg="">
                    <div class="swiper-slide-caption section-md">
                        <div class="container">
                            <div class="row justify-content-lg-center">
                                <div class="col-lg-12">
                                    <h5 data-caption-animate="fadeInUp" data-caption-delay="100">For free</h5>
                                    <h2 data-caption-animate="fadeInUp" data-caption-delay="250">Some games are free</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide context-dark" data-slide-bg="">
                    <div class="swiper-slide-caption section-md">
                        <div class="container">
                            <div class="row justify-content-lg-center">
                                <div class="col-lg-12">
                                    <h5 data-caption-animate="fadeInUp" data-caption-delay="100">Payed</h5>
                                    <h2 data-caption-animate="fadeInUp" data-caption-delay="250">You receive what you choose to try</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </section>

        <section class="section section-lg bg-gray-100">
            <div class="container">
                <div class="row row-50 row-bordered">
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="icon-box">
                            <div class="icon-container"><span class="icon fas fa-check"></span></div>
                            <h4 class="icon-box-title">Check</h4>
                            <br>
                            <div class="icon-box-text">
                                <p>You can see what we produce.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="icon-box">
                            <div class="icon-container"><span class="icon fas fa-filter"></span></div>
                            <h4 class="icon-box-title">Choice</h4>
                            <br>
                            <div class="icon-box-text">
                                <p>After you see our products, you can to start to choice.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="icon-box">
                            <div class="icon-container"><span class="icon fas fa-vial"></span></div>
                            <h4 class="icon-box-title">Testing</h4>
                            <br>
                            <div class="icon-box-text">
                                <p>After you choice you can testing our products, online or offline.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="icon-box">
                            <div class="icon-container"><span class="icon fas fa-download"></span></div>
                            <h4 class="icon-box-title">Download</h4>
                            <br>
                            <div class="icon-box-text">
                                <p>You can download what you do want.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section bg-default">
            <div class="row flex-lg-row-reverse align-items-lg-center no-gutters">
                <div class="col-lg-6">
                    <div class="box-img-right"><img src="{% for s in settings %}{{ s.siteCDN }}{% endfor %}/themes/grey/images/home-1.jpg" alt=""></div>
                </div>
            </div>
        </section>

        <!-- News Section-->
        <section class="section section-lg bg-default">
            <div class="container">
                <h3>{{ 'title.news'|trans }}</h3>
                {% for n in news %}
                <div class="row">
                    <div class="col-12">
                        <div class="text-decoration">
                            <h4>{{ n.title }}</h4>
                            <p>{{ n.content }}</p>
                            <p class="right_side" ><i class="icon-news-time far fa-clock"></i> {{ n.createdAt|localizeddate('long', 'medium', null, 'UTC') }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
        <!-- End News Section -->

{% endblock %}