{% extends '@theme/base.html.twig' %}

{% block title %}{{ 'title.login'|trans }}{% endblock %}

{% block head %}
    {{  parent() }}
{% endblock %}

{% block body_id 'login' %}

{% block main %}
        {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
        {% endif %}

        <section class="section section-page-title context-dark">
            <div class="container">
                <h2>{{ 'title.login'|trans }}</h2>
            </div>
        </section>

        {% include('@theme/form/login.html.twig') %}

{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}