        {% block header %}
        <header class="section page-header header-classic">
            <div class="rd-navbar-wrap">
                <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
                    <div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1" data-rd-navbar-toggle=".rd-navbar-collapse">
                        <span></span>
                    </div>
                    <div class="rd-navbar-main-outer">
                        <div class="rd-navbar-main">
                            <div class="rd-navbar-panel">
                                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                                <div class="rd-navbar-brand"><img class="brand-logo-light" src="{% for s in settings %}{{ s.siteCDN }}{% endfor %}/themes/grey/images/logo.png" alt="" width="437" height="59"/></div>
                            </div>
                            <div class="rd-navbar-main-element">
                                <div class="rd-navbar-nav-wrap">
                                    <ul class="rd-navbar-nav">
                                        <li class="rd-nav-item"><a class="rd-nav-link" href="{{ path('home') }}">{{ 'navbar.home'|trans }}</a></li>
                                        <li class="rd-nav-item"><a class="rd-nav-link" href="#">{{ 'navbar.support_us'|trans }}</a>
                                            <ul class="rd-menu rd-navbar-dropdown">
                                                <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="{{ path('bepatron') }}">{{ 'navbar.be_patron'|trans }}</a></li>
                                                <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="{{ path('bedonor') }}">{{ 'navbar.be_donor'|trans }}</a></li>
                                            </ul>
                                        </li>
                                        <li class="rd-nav-item"><a class="rd-nav-link" href="#">{{ 'navbar.community'|trans }}</a>
                                            <ul class="rd-menu rd-navbar-dropdown">
                                                <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="{{ path('forum') }}">Forum</a></li>
                                                <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="{{ path('blog') }}">{{ 'navbar.blog'|trans }}</a></li>
                                            </ul>
                                        </li>
                                        <li class="rd-nav-item"><a class="rd-nav-link" href="#">{{ 'navbar.projects'|trans }}</a>
                                            <ul class="rd-menu rd-navbar-dropdown">
                                                <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="{{ path('games') }}">{{ 'navbar.games'|trans }}</a></li>
                                                <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="{{ path('mods') }}">{{ 'navbar.mods'|trans }}</a></li>
                                            </ul>
                                        </li>
                                        <li class="rd-nav-item"><a class="rd-nav-link" href="#">{{ 'navbar.info'|trans }}</a>
                                            <ul class="rd-menu rd-navbar-dropdown">
                                                <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="{{ path('careers') }}">{{ 'navbar.careers'|trans }}</a></li>
                                                <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="{{ path('about') }}">{{ 'navbar.about'|trans }}</a></li>
                                                <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="{{ path('contact') }}">{{ 'navbar.contact'|trans }}</a></li>
                                            </ul>
                                        </li>
                                        <li class="rd-nav-item"><a class="rd-nav-link" href="{{ path('services') }}">{{ 'navbar.services'|trans }}</a></li>
                                        {% if app.user %}
                                        <li class="rd-nav-item"><a class="rd-nav-link" href="#"><i class="fas fa-user"></i> Hi, {{ app.user.username }}</a>
                                            <ul class="rd-menu rd-navbar-dropdown">
                                                <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="{{ path('member_area') }}">{{ 'navbar.member_area'|trans }}</a></li>
                                                <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="{{ path('settings_area') }}">{{ 'navbar.user_settings'|trans }}</a></li>
                                                {% if is_granted('ROLE_ADMIN') %}
                                                    <hr/>
                                                    <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="{{ path('admin_index') }}">{{ 'navbar.admin'|trans }}</a></li>
                                                    <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="{{ path('assets_index') }}">{{ 'navbar.assets'|trans }}</a></li>
                                                    <hr/>
                                                {% endif %}
                                                <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="{{ path('security_logout') }}">{{ 'navbar.logout'|trans }}</a></li>
                                            </ul>
                                        </li>
                                        {% endif %}
                                    </ul>{% if app.user %}{% else %}<a class="button button-circle" href="{{ path('member_area') }}">{{ 'navbar.only_members'|trans }}</a>{% endif %}
                                    <div class="rd-navbar-search">
                                        <button class="rd-navbar-search-toggle rd-navbar-fixed-element-2" data-rd-navbar-toggle=".rd-navbar-search"><span></span></button>
                                        <form class="rd-search" action="#" data-search-live="rd-search-results-live" method="GET">
                                            <div class="form-wrap">
                                                <label class="form-label" for="rd-navbar-search-form-input">Search</label>
                                                <input class="rd-navbar-search-form-input form-input" id="rd-navbar-search-form-input" type="text" name="s" autocomplete="off">
                                                <div class="rd-search-results-live" id="rd-search-results-live"></div>
                                            </div>
                                            <button class="rd-search-form-submit fas fa-search" type="submit"></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        {% endblock %}