{% extends "@theme/base.html.twig" %}

{% block title %}{{ 'title.about'|trans }}{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block body_id 'about' %}

{% block main %}

    <section class="section section-page-title context-dark">
        <div class="container">
            <h2>{{ 'title.about'|trans }}</h2>
        </div>
    </section>

    <section class="section section-lg bg-gray-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p>{{ 'about.description'|trans|raw }}</p>
                </div>
            </div>
        </div>
    </section>
    <section class="section section-lg bg-default text-center">
        <div class="container">
            <h3>{{ 'title.our_team'|trans }}</h3>
            <div class="row">

                {% for t in team %}
                    <div class="col-12">
                        <div class="box-team-modern box-team-modern-quote">
                            <figure class="team-img">
                                <img class="rounded-circle" src="{% for s in settings %}{{ s.siteCDN }}{% endfor %}/themes/grey/images/not_available.png" alt="" width="210" height="210"/>
                            </figure>
                            <div class="box-team-modern-caption">
                                <h5 class="team-modern-subtitle">{{ t.position }}</h5>
                                <h4 class="team-modern-title">{{ t.name }}</h4>
                                <p>{{ t.description }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>

{% endblock %}