{% extends "@theme/base.html.twig" %}

{% block title %}{{ 'title.contact'|trans }}{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block body_id 'contact' %}

{% block main %}

    <section class="section section-page-title context-dark">
        <div class="container">
            <h2>{{ 'title.contact'|trans }}</h2>
        </div>
    </section>

    <section class="section section-lg bg-default text-center">
        <div class="container">
            <div class="row justify-content-lg-center">
                <div class="col-md-9 col-lg-7">
                    <p>{{ 'content.contact'|trans }}</p>
                    <br>
                    <div>
                    {{ form_start(form, {'attr' : { 'class' : 'rd-mailform text-left', 'data-form-output': 'form-output-global', 'data-form-type': 'contact' } }) }}
                        <div class="form-warp">
                            {{ form_widget(form) }}
                        </div>
                    {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}