{% extends "@theme/base.html.twig" %}

{% block title %}{{ 'title.blog'|trans }}{% endblock %}

{% block head %}
    {{  parent() }}
{% endblock %}

{% block body_id 'blog' %}

{% block main %}

    <section class="section section-page-title context-dark">
        <div class="container">
            <h2>{{ 'title.blog'|trans }}</h2>
        </div>
    </section>

    <section class="section section-lg bg-default">
        <div class="container">
            <div class="row row-50">
                <div class="col-lg-8 col-xl-9">
                    {% for post in paginator.results %}
                    <div class="post-creative">
                        <div class="author-block">
                            <figure class="author-img"><img src="#" alt="{{ post.author.fullName }}" width="114" height="114"/></figure>
                            <h4>{{ post.author.fullName }}</h4>
                            <h6>Blogger</h6>
                            <div class="divider"></div>
                        </div>
                        <div class="post-body">
                            <div class="post-classic-meta">
                                <ul class="list list-inline">
                                    <li><span class="icon icon-xs far fa-clock"></span> <span class="time">{{ post.publishedAt|format_datetime('long', 'medium', '', 'UTC') }}</span></li>
                                    <li><span class="icon icon-xs far fa-comments"></span> <!-- comment numbers --></li>
                                </ul>
                            </div>
                            <h5 class="post-title"><a href="{{ path('blog_post', {slug: post.slug}) }}">{{ post.title }}</a></h5>
                            <p>{{ post.summary|md2html }}</p><a class="button button-gradient" href="{{ path('blog_post', {slug: post.slug}) }}">Read More</a>
                        </div>
                    </div>
                    {% else %}
                        <div class="well">{{ 'post.no_posts_found'|trans }}</div>
                    {% endfor %}

                    {% if paginator.hasToPaginate %}
                    <div class="row">
                        <div class="col-12">
                            <ul class="pagination">
                                    <ul class="pagination">
                                        {% if paginator.hasPreviousPage %}
                                            <li class="page-item page-item-control prev"><a class="page-link" href="{{ path('blog_index_paginated', {page: paginator.previousPage}) }}" aria-label="Previous" rel="previous"><span class="fas fa-chevron-left"></span></a></li>
                                        {% else %}
                                            <li class="page-item page-item-control prev disabled"><span><i class="fas fa-chevron-left"></i> Previous</span></li>
                                        {% endif %}

                                        {% for i in 1..paginator.lastPage %}
                                            {% if i == paginator.currentPage %}
                                                <li class="page-item active"><a class="page-link"><span>{{ i }}</span></a></li>
                                            {% else %}
                                                <li class="page-item"><a class="page-link" href="{{ path('blog_index_paginated', {page: i}) }}">{{ i }}</a></li>
                                            {% endif %}
                                        {% endfor %}

                                        {% if paginator.hasNextPage %}
                                            <li class="page-item page-item-control next"><a class="page-link" href="{{ path('blog_index_paginated', {page: paginator.nextPage}) }}" aria-label="Next"><span class="fas fa-chevron-right"></span></a></li>
                                        {% else %}
                                            <li class="page-item page-item-control next disabled"><span class="fas fa-chevron-right"></span></li>
                                        {% endif %}
                                    </ul>
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                </div>
                {% block sidebar %}
                    <div class="col-lg-4 col-xl-3">
                        <aside class="aside-components">
                            <div class="aside-component">
                                <h4 class="component-title">Search</h4>
                                <div class="search-form">
                                    <form class="rd-search" action="#"></form>
                                    <div class="form-wrap">
                                        <input class="form-input" id="rd-search-form-input" type="text" autocomplete="off"/>
                                        <button class="icon mdi mdi-magnify" type="submit"></button>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </aside>

                    </div>
                {% endblock %}
            </div>
        </div>
    </section>
{% endblock %}