{% extends "@theme/base.html.twig" %}

{% block title %}{{ 'title.member'|trans }}{% endblock %}

{% block head %}
    {{  parent() }}
{% endblock %}

{% block body_id 'member_area' %}

{% block body %}

    <section class="section section-page-title context-dark">
        <div class="container">
            <h2>{{ 'title.member'|trans }}</h2>
        </div>
    </section>

    <section class="section section-md bg-default text-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <h3>In this area you choose what you do want</h3>
                    <h5 class="text-gray-500">If you have a blocked Tier you must to upgrade your Tier to higher.</h5>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-10">
                    <h4 class="text-uppercase">Tiers Rewards</h4>
                    <div class="tabs-custom tabs-horizontal tabs-corporate" id="tabs-1">
                        <ul class="nav nav-tabs">
                            <li class="nav-item" role="presentation"><a class="nav-link active" href="#tier-1" data-toggle="tab"><i class="fas fa-lock-open"></i> Tier I</a></li>
                            {% if is_granted('ROLE_TIER_II') %}
                                <li class="nav-item" role="presentation"><a class="nav-link" href="#tier-2" data-toggle="tab"><i class="fas fa-lock-open"></i> Tier II</a></li>
                                {% else %}
                                    <li class="nav-item" role="presentation"><a class="nav-link" href="#tier-2" data-toggle="tab"><i class="fas fa-lock"></i> Tier II</a></li>
                            {% endif %}
                            {% if is_granted('ROLE_TIER_III') %}
                                <li class="nav-item" role="presentation"><a class="nav-link" href="#tier-3" data-toggle="tab"><i class="fas fa-lock-open"></i> Tier III</a></li>
                                {% else %}
                                    <li class="nav-item" role="presentation"><a class="nav-link" href="#tier-3" data-toggle="tab"><i class="fas fa-lock"></i> Tier III</a></li>
                            {% endif %}
                            {% if is_granted('ROLE_TIER_IV') %}
                                <li class="nav-item" role="presentation"><a class="nav-link" href="#tier-4" data-toggle="tab"><i class="fas fa-lock-open"></i> Tier IV</a></li>
                                {% else %}
                                    <li class="nav-item" role="presentation"><a class="nav-link" href="#tier-4" data-toggle="tab"><i class="fas fa-lock"></i> Tier IV</a></li>
                            {% endif %}
                            {% if is_granted('ROLE_TIER_V') %}
                                <li class="nav-item" role="presentation"><a class="nav-link" href="#tier-5" data-toggle="tab"><i class="fas fa-lock-open"></i> Tier V</a></li>
                                {% else %}
                                    <li class="nav-item" role="presentation"><a class="nav-link" href="#tier-5" data-toggle="tab"><i class="fas fa-lock"></i> Tier V</a></li>
                            {% endif %}
                        </ul>
                        <div class="tab-content">
                            <!-- Tier I -->
                            <div class="tab-pane fade show active" id="tier-1">
                                <p>{{ 'member.download_beta_text'|trans }}:</p>
                                <div class="row row-condensed">
                                    {% for g in games %}
                                    <div class="col-3">
                                        <h5 class="text-primary">{{ g.ourGameName }}</h5>
                                        <p><a class="button button-sm button-gradient" href="{{ g.ourGameBeta }}">Download</a></p>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>

                            <!-- Tier II -->
                            {% if is_granted('ROLE_TIER_II') %}
                            <div class="tab-pane fade" id="tier-2">
                                <p>{{ 'member.download_alpha_text'|trans }}:</p>
                                <div class="row row-condensed">
                                    {% for g in games %}
                                        <div class="col-3">
                                            <h5 class="text-primary">{{ g.ourGameName }}</h5>
                                            <p><a class="button button-sm button-gradient" href="{{ g.ourGameAlpha }}">Download</a></p>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% else %}
                            <div class="tab-pane fade" id="tier-2">
                                <p>{{ 'member.upgrade_now_text'|trans }}</p>
                            </div>
                            {% endif %}

                            <!-- Tier III -->
                            {% if is_granted('ROLE_TIER_III') %}
                            <div class="tab-pane fade" id="tier-3">
                                <p>Request to added your name to Game Credits</p>
                                <form class="col-lg-12">
                                    <label>Name</label>
                                    <input id="your_name" name="Your name">
                                    <label>Nickname</label>
                                    <input id="nickname" name="Nickname">
                                    <button></button>
                                </form>
                            </div>
                            {% else %}
                            <div class="tab-pane fade" id="tier-3">
                                <p>{{ 'member.upgrade_now_text'|trans }}</p>
                            </div>
                            {% endif %}

                            <!-- Tier IV -->
                            {% if is_granted('ROLE_TIER_IV') %}
                            <div class="tab-pane fade" id="tier-4">
                            </div>
                            {% else %}
                            <div class="tab-pane fade" id="tier-4">
                                <p>{{ 'member.upgrade_now_text'|trans }}</p>
                            </div>
                            {% endif %}

                            <!-- Tier V -->
                            {% if is_granted('ROLE_TIER_V') %}
                            <div class="tab-pane fade" id="tier-5">
                                <p>Download source code</p>
                            </div>
                            {% else %}
                            <div class="tab-pane fade" id="tier-5">
                                <p>{{ 'member.upgrade_now_text'|trans }}</p>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}