{% extends "@theme/base.html.twig" %}

{% block title %}{{ 'title.member'|trans }}{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block body_id 'settings' %}

{% block body %}

    <section class="section section-page-title context-dark">
        <div class="container">
            <h2>{{ 'title.settings'|trans }}</h2>
        </div>
    </section>

    <!-- Change password -->
    <section class="section section-md bg-default text-center">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-9 col-lg-7 col-xl-5">
                    In this area you can use from the sidebar, what you do want!
                </div>
                <div class="col-6 col-lg-4">
                    <a href="{{ path('user_change_password') }}">{{ 'change.password'|trans }}</a>
                    <br>
                    <a href="{{ path('user_edit') }}">{{ 'change.email_or_fullname'|trans }}</a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}